
html,
body{
    background-color: #FAAD41;
    height: 95%;
    width: 100%;
}

.container-fluid.home{
    background: #ffffff;
    box-shadow: 6px 5px 4px rgba(0, 0, 0, 0.13);
    border: 1px solid #dddddd;
    border-radius: 10px;
    width: 90%;
    height: 97.5%;
    margin-top: 3%;
}
.container-fluid.account{
    background: #ffffff;
    box-shadow: 6px 5px 4px rgba(0, 0, 0, 0.13);
    border: 1px solid #dddddd;
    border-radius: 10px;
    width: 30%;
    height: 95%;
    margin-top: 3.5%;
}
.container-fluid.authentication{
    background: #ffffff;
    box-shadow: 6px 5px 4px rgba(0, 0, 0, 0.13);
    border: 1px solid #dddddd;
    border-radius: 10px;
    width: 30%;
    height: 70%;
    margin-top: 3.5%;
}
.container-home-data{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    
    margin-top: 5%;
    padding-inline: 15%;
}
.container-data-auth{
    padding: 30px;
}
.container-data{
    padding: 30px;
}

.home-description{
    background: yellow;

    margin-right: 10%;
}
.home-img-guide{
    background: green;

    margin-left: 10%;
}

.account-page{
    text-align: center;
}
.account-links{
    display: flex;
    justify-content: space-between;
}
.account-image{
    margin-top: 50%;
}
.account-username{
    margin-top: 10%;
}
.account-gr-links{
    margin-top: 10%;
}
.account-statistics{
    margin-top: 35%;
}

.footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    /* background-color: #FAAD41; */
    
    color: #444444;
    text-align: center;
}

.no_select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }