{% extends "base.html" %}


{% block content %}
    <div class="container-home-data">

        <div class="slogan-block">
            <div class="slogan">
                Massive tasks
                <br>
                Simple solutions
            </div>
            <div class="platform-info">
                Cooperate with other users
                <br>
                and become more productive together
            </div>
            <button type="button" class="btn btn-primary home-button">Register now</button>
        </div>
        
        <div class="tasks-logo">
            <img src="../../static/img/TasksLogo.svg" id="tasks-icon">
        </div>
        
    </div>
{% endblock content %}