{% extends "base.html" %}


{% block content %}
    <div class="container-home-data">

        <div class="slogan" style="font-size: 56px; font-weight: bold;">
            Massive tasks 
            <br>
            Simple solutions
        </div>
        
        <div class="container-home-infoblock">
            <img src="../../static/img/User-icon.svg" id="user-icon">
            <h4 style="padding: 5% 0; font-weight: lighter;">If you prefer privacy mono<br>rooms will give you this opportunity</h6>
        
            <img src="../../static/img/Group-icon.svg" id="user-icon">
            <h4 style="padding: 5% 0; font-weight: lighter;">Cooperate with other users<br>and become more productive together</h6>

            <img src="../../static/img/Task-icon.svg" id="user-icon">
            <h4 style="padding: 5% 0; font-weight: lighter;">If you prefer privacy mono<br>rooms will give you this opportunity</h6>
        </div>
        
    </div>
{% endblock content %}