{% extends "base.html" %}


{% block content %}
    <div class="workspace-nav">
        {% for table_name in content.table %}
            <p>Available tasks for <b>{{ table_name }}</b> table</p>
        {% endfor %}
    </div>

    <div class="container tasks"> 
        <form method="POST">
            {% csrf_token %}
            {{ content.form.as_p }}
            <button class="btn btn-primary" type="submit">Create new task</button>
        </form>
           
        {% for data in content.available_tasks %}
            <div class="data_cubes tasks">
                <p>{{ data.text }}</p>
            </div>
        {% endfor %}
        <!-- <a href="#">
            <div class="data_cubes last-item">
                <p>Create new table</p>
            </div>
        </a> -->
    </div>
    
{% endblock content %}