{% extends "base.html" %}


{% block content %}

    <div class="container tasks"> 
        <div class="new-task-form">
            <form method="POST">
                {% csrf_token %}
                {{ create.as_p }}
                <button class="btn btn-primary new-task-button" type="submit">Create new task</button>
            </form>
        </div>
           
        {% for data in available_tasks %}

            <!-- Modal complete task -->
            <div class="modal fade" id="closeModal{{ data.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Complete task <b>{{ data.text }}?</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Complete</button>
                    </div>
                </div>
                </div>
            </div>
        
            <div style="display: flex; flex-direction: row;">
                <p style="padding-top: 2%; color: #3F5060;">#{{ data.id }}</p>
                <div class="data_cubes tasks">
                    <p>{{ data.text }}</p>
                    <div class="task-button">
                        <a data-toggle="modal" data-target="#closeModal{{ data.id }}">
                            <span>&#10003;</span>
                        </a>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
    
{% endblock content %}